@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<ComCloudShop.ViewModel.ProductViewModel>
@using System.Web.Configuration;
<link href="~/public/css/style2017.css" rel="stylesheet" />
<h1></h1>
<div class="Recommend">
    <div class="title">
        <h1 class="ch">@ViewBag.CateName</h1>
    </div>
    <div class="Recommend_course">
        <ul>
            
        </ul>
    </div>
</div>
<script type="text/javascript" src="~/public/js/jquery.min.js"></script>
<script type="text/javascript">
    //产品筛选排序
    $(function () {
        var type = "@ViewBag.type";

        var parm = {
            type: type
        };
        getPageList = function () {
            $.ajax({
                type: 'get',
                url: '@Url.Content("~/Product/GetProductList10")',
                data: parm,
                success: function (data) {
                    if (data.error == 0) {
                        var html = "";
                        $.each(data.result, function (i, item) {
                            html += "<li onclick=\"window.location.href = '/Product/Detail?pid=" + item.ProductId + "'\"><div class=\"image\"><span class=\"vip\">vip免费</span><img src=\"" + "@(WebConfigurationManager.AppSettings["imgurl"])" + item.Pic + "\" alt=\"\"></div><div class=\"text\"><div class=\"text_content\">" + item.SPMC + "</div><div class=\"text_other\"><div class=\"play\">播放次数：0</div><div class=\"price\">￥" + item.Sale + "</div></div></div></li>";
                        });
                        $(".Recommend_course ul").html(html)
                    } else {
                        alert('系统错误~请稍后再试~谢谢');
                    }
                }
            });
        }
        getPageList();
    });
    </script>