@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ComCloudShop.ViewModel.ProductGroupSaleViewModel
<div class="rrcc" id="RightBox">
    <div class="center"></div>
    <div class="right" id="li010">
        <div class="right01">
            <img src="~/Content/images/04.gif" alt="" />
            后台管理 &gt; <span>活动管理</span>&gt;<span>编辑</span>
        </div>
        <div id="example" class="k-content" style="padding: 2px;">
            <form enctype="multipart/form-data" method="post" action="~/sale/edit/">
                <input type="hidden" name="saleId" value="@Model.saleId">
                <ul>
                    <li style="padding: 10px;">
                        活动名称：<input type="text" name="saleName" style="width: 350px" value="@Model.saleName" />
                    </li>
                    <li style="padding: 10px;">
                        活动小图：
                        <input type="file" name="filesmall" style="width: 350px" id="picSmallUrl" accept="image/*" />
                        @if (!string.IsNullOrEmpty(Model.picSmallUrl))
                        {
                            <img src="~/@Model.picSmallUrl" width="400" height="120" />
                        }
                    </li>
                    <li style="padding: 10px;">
                        活动大图：
                        <input type="file" name="filebig" style="width: 350px" id="picBigUrl" accept="image/*" />                        
                        @if (!string.IsNullOrEmpty(Model.picBigUrl))
                        {
                            <img src="~/@Model.picBigUrl" width="400" height="120" />
                        }
                    </li>
                    <li style="padding: 10px;">
                        排序：<input type="text" name="saleOrder" style="width: 350px" value="@Model.saleOrder" />
                    </li>
                </ul>
                <div style="padding-left: 47px;">
                    <input type="submit" value="保存" id="btnSubmit" />
                    <input type="button" value="返回" id="btnReset" />
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(function(){
        $("#btnSubmit,#btnReset").kendoButton();

        $("#btnReset").click(function(){
            location.href = "@Url.Content("~/sale/index")";
        });

    })
</script>
